#login-form
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -150px;
}

#signup-form
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -150px;
}